# This file controls the settings for your Quarto template from www.marvinschmitt.com

# website settings
website:
  title: "Kyle McGill Percy"                                # Your name
  image: img/kmp_img.jpg
  
  # start of the navigation bar at the top of the website
  navbar:
    pinned: true

    
    # your sub-pages
    left:
      - text: "Research"
        href: research/index.qmd
      - text: "CV"
        href: cv/index.qmd
      - text: "Music"
        href: music/index.qmd
      - text: "Contact Information"
        href: contact/index.qmd
    
    # your social media handles
    right:
      - icon: linkedin
        href: https://www.linkedin.com/in/kyle-mcgill-percy-805189155/
      - icon: envelope
        aria-label: email
        href: "mailto:mail.kcm78@case.edu"  

project:
  type: website
  output-dir: docs

  preview: 
    port: 22222
    browser: true
    watch-inputs: true
    navigate: true

execute:
  freeze: true

format:
  html:
    fontsize: 1.1em
    theme: 
      - pulse
      - html/styles.scss
    toc: false
    code-link: true
    anchor-sections: true
    fig-cap-location: margin
    reference-location: margin
    footnotes-hover: true